---
import Layout from '../layouts/Layout.astro';
import heroImage from '../assets/heroimg.png';
import img1 from '../assets/img_1.jpg'
import img2 from '../assets/img_3.jpg'
import img3 from '../assets/img_5.jpg'
---

<Layout title="Hellen.">
  <main>
    <section class="h-screen flex items-center justify-center relative overflow-hidden">
      <div class="absolute inset-0 z-0">
        <img 
          src={heroImage.src}
          alt="Hero fashion" 
          class="w-full h-full object-cover"
        />
      </div>
      <div class="absolute inset-0"></div>
      <div class="relative z-10 text-center text-white">
        <h1 class="font-display text-5xl md:text-8xl">Hellen</h1>
        <p class="font-sans text-lg tracking-widest">La mujer de mi vida.</p>
      </div>
    </section>

    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
      <div class="text-center mb-16">
        <h2 class="font-display text-4xl mb-4">Mi niña linda</h2>
        <p class="font-sans mb-16 text-lg max-w-2xl mx-auto">
          Eres tan linda como ese momento en el que el sol se esconde lentamente y todo parece perfecto, como una canción que no quiero dejar de escuchar, porque en cada nota me haces sentir en casa. Eres como un sueño del que no quiero despertar, porque la realidad a tu lado supera cualquier fantasía. Tan linda como cuando el cielo se pinta de colores después de una tormenta, recordándome que lo mejor siempre llega contigo. Eres como la risa de un pequeño: genuina, contagiosa y capaz de sanar todo a su alrededor. Tan hermosa como el primer ‘te amo’ que no se dice con la boca, sino con la mirada. Contigo me siento tan feliz, que hasta el tiempo se detiene a verte, y yo me pierdo feliz en ese instante eterno.
        </p>

        
        <a href="/about" class="px-4 py-3 bg-minim-charcoal text-white text-sm tracking-widest hover:bg-minim-stone transition-colors">
          Nuestra historia.</a>
        
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="aspect-[3/4] relative group overflow-hidden">
          <img 
            src={img1.src}
            alt="Collection preview" 
            class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
          />
          <div class="absolute inset-0 bg-minim-charcoal/0 group-hover:bg-minim-charcoal/20 transition-colors duration-300"></div>
        </div>
        <div class="aspect-[3/4] relative group overflow-hidden">
          <img 
            src={img2.src}
            alt="Collection preview" 
            class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
          />
          <div class="absolute inset-0 bg-minim-charcoal/0 group-hover:bg-minim-charcoal/20 transition-colors duration-300"></div>
        </div>
        <div class="aspect-[3/4] relative group overflow-hidden">
          <img 
            src={img3.src}
            alt="Collection preview" 
            class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
          />
          <div class="absolute inset-0 bg-minim-charcoal/0 group-hover:bg-minim-charcoal/20 transition-colors duration-300"></div>
        </div>
      </div>

      <div class="max-w-7xl flex flex-col justify-center items-center mt-16">
        <h2 class="font-display text-6xl mb-4">Sofi</h2>
        <p class="font-sans text-center text-lg max-w-2xl mx-auto mb-4">Un camara jamas sera suficiente para captar cuanta belleza hay en tí. Sin embargo hace su meyor esfuerzo.</p>
        <a href="/gallery" class="px-4 py-3 bg-minim-charcoal text-white text-sm tracking-widest hover:bg-minim-stone transition-colors">
          Galeria</a>
      </div>
    </section>
  </main>
</Layout>